<% provide(:title, 'Log in') %>

<div class="container">

    <%= form_for(:session, url: login_path,html:{class: 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Rails administration</h2>
  <div class="login-wrap">
            <div class="user-login-info">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      </div>
      
      <%= f.submit "Log in", class: "btn btn-login btn-block" %>
<a href="<%= root_path %>auth/facebook" name='facebook' class="btn btn-facebook btn-block">Login with Facebook</a>
  <div class="registration">Don't have an account yet? <%= link_to 'Registration',signup_path %></div>


        </div>


    <% end %>
    
</div>

