<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <% if @monster.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @monster.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>
</div>



<div class="col-lg-8 col-lg-offset-2">
  <section class="panel">
    <header class="panel-heading">
      Monster Forms
    </header>
    <div class="panel-body">
      <div class="position-center">

        <%= form_for @monster,html:{class: 'form-horizontal'} do |f| %>

            <div class="form-group">

              <%= f.label :name,class: 'col-lg-3 col-sm-4 control-label' %>
              <div class="col-lg-9 col-sm-8">
                <%= f.text_field :name,class: 'form-control' %>

              </div>
            </div>

            
            <div class="form-group">

              <%= f.label :type_id,class: 'col-lg-3 col-sm-4 control-label' %>
              <div class="col-lg-9 col-sm-8">
                <% if Type.all.empty? %>
                 <%= link_to 'Create Type At First',new_type_path,class:'btn btn-warning' %>

                 <% else %>
                 <%= f.collection_select :type_id,Type.all,:id, :name, {prompt: true},{class:'form-control'} %>
                <% end %>
              </div>
            </div>
            

            <div class="form-group">

              <%= f.label :team_id_id,class: 'col-lg-3 col-sm-4 control-label' %>
              <div class="col-lg-9 col-sm-8">
                <% if Team.all.empty? %>
                    <%= link_to 'Create Team At First',new_team_path,class:'btn btn-danger' %>
                    <% else %>
                <%= f.collection_select :team_id,current_user.teams,:id, :name, {prompt: true},{class:'form-control'} %>
                <% end %>
              </div>
            </div>


            <div class="form-group">

              <%= f.hidden_field :user_id,value: current_user.id %>

            </div>

            <div class="form-group">
              <div class="col-lg-offset-3 col-lg-10">

                <%= f.submit 'Submit',class:'btn btn-success',name:'new' %>
                <%= link_to 'Back', monsters_path,class:'btn btn-info' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </section>

</div>